---
import Layout from "../layouts/Layout.astro"
---
<Layout activeMenu={"contact"}>
    <div class="contentContainer">
        <h1>Contact</h1>
        <p>Have a question? Want to purchase a knife? Contact me at r13knifeworks@gmail.com</p>
        <p>My normal turn around time for a custom knife is 8 weeks.</p>
    </div>
</Layout>
