---
import Layout from "../layouts/Layout.astro"
import '../css/pre-made-knives.css'
---
<Layout activeMenu={"pre-made-knives"}>
    <div class="contentContainer">
        <h1>Pre Made Knives</h1>
        <!--<h2>Didn't find what you're looking for?</h2>-->
        <p>
            I am always accepting custom orders. For your own custom knife please <a class="contactLink" href="/contact">contact me</a>.
        </p>
    </div>
</Layout>
