---
import Layout from "../layouts/Layout.astro"
---
<Layout activeMenu={"about"}>
    <div class="contentContainer">
        <h1>About</h1>
        <p>
            I started knife making in 2017 using whatever tools and metals, mostly old saw blades,
            I could get my hands on. I have a long history of working with metal, so, naturally, knife 
            making was always a craft that intrigued me. I was invited to take a class in Wyoming from an ABS
            Master Bladesmith and from that point forward I was hooked. I began investing in quality
            tools and using good high carbon steel. I’ve since taken two more classes from the
            same ABS Master Bladesmith. I am by no means the best knife maker out there
            but I enjoy what I do and make a nice usable blade.
        </p>
        <p>
            Knife making is a way to relax and not worry about the world around me and 
            I have been blessed that it has turn into a small business adventure. 
            Yes, adventure because no two customers are alike. I enjoy
            making smaller simple EDC knives and the occasional cleaver, but I have made
            several interesting knives over the course of my time.
        </p>
    </div>
</Layout>
